.span12
  %br
  %br
  .main-tag About
  %br
  %br
  %div
    %h3.thin
      Google Reader will shut down on July 1, 2013 leaving a feeling of emptiness every internet user will feel. Last year, Google killed the social component of Reader to encourage sharing Google+, killing a long-evolved community of reading friends overnight. We realise the need to build platforms which belong to the users who invest hours in making it work… platforms where users decide how long the it lasts and what components stay. 
      %br
      %br
      Our first such effort was to build an open source reader, a replacement to Google Reader to begin with, which can then shape up to be your homepage, your newspaper, your search provider, your social hub… you decide! With inspiration and weeks of work, we are ready to unveil the first public beta of pykih reader, an open source feed reader. This is a working release which lets you import and save your Google Reader feeds into a familiar user interface so you never feel like you’ve left home! pykih reader is constantly being updated, we will soon have the good old sharing functionality, a larger feature set and a much improved UI.
      %br
      %br
      We appreciate your feedback, please write to us at 
      = mail_to "rp@pykih.com" 
      and we will listen.
  %br
  %br
  %h2 Contributors
  %br
  %table
    %tr
      %td= image_tag "/mihir.png"
      %td &nbsp;&nbsp;&nbsp;
      %td 
        %h3= link_to "@mihirmodi", "http://twitter.com/mihirmodi", target: "_blank", class: "red"
        .gray Overlooks the branding, marketing and design
        %br
  %br
  %br
    