.span12
  %br
  %br
  .main-tag Developer
  %br
  %br
  %h3.thin 
    The reader code has been made open source on Github. It has been written in Ruby on Rails, PostGreSQL and is deployed on Heroku. If you are a Ruby on Rails or jQuery developer and want to contribute to a hosted, open source reader project, please contact us at 
    =mail_to "rp@pykih.com"
    %br
    %br
  %h3 
    Pending Issues
    %span.thin 
      and features are at 
      = link_to "https://github.com/pykih/reader/issues", "https://github.com/pykih/reader/issues"