.span12
  %br
  %br
  .main-tag Frequently Asked Questions
  %br
  %br
  %div
  %h3.thin
    = link_to "Why is the reader taking your permission on your Google account to manage your Blogger Blogs too?", "#why_blogger", class: "red"
    %br
    = link_to "Why is the login asking to create a GPlus account i.e. enter name, gender, age, etc?", "#mandatory_gplus", class: "red"
    %br
    %br
  %h3 Answers
  %br
  %h4{id: "why_blogger"} Why is the reader taking your permission on your Google account to manage your Blogger Blogs too?
  %h4.thin Blogger allows you to follow blogs from within blogger. We want to access that and show you the blogs you follow inside Pykih Reader.
  %br
  %br
  %h4{id: "mandatory_gplus"} Why is the login asking to create a GPlus account i.e. enter name, gender, age, etc?
  %h4.thin Google mandatorily asks to create GPlus account if external developers like us use Google Login. So that is not us. :-) To mitigate this, we are adding Facebook login soon.