.span5{style: "height: 450px;"}
  %br
  %br
  .main-tag A clean, no bullshit Google Reader replacement
  %br
  %h3.thin 
    Import and save all your Google Reader 
    %br
    subscriptions in one simple click!   
  %br
  %br
  %br
  = link_to image_tag("g2.png"), "/auth/google_oauth2"
.span1{style: "height: 450px;"}
  %br
.span6{style: "height: 450px;"}
  = image_tag "home.png"
  %br
  %br
  %br
.span4
  .well
    %h3 Open source
    We want Pykih Reader to be community owned and community developed. Want more features? Build it. 
    = link_to "Visit our Github", "https://github.com/pykih/reader", target: "_blank"
.span4
  .well
    %h3 Save your feeds
    Easily import your Google Reader subscriptions
.span4
  .well
    %h3 Manage your reading list
    Native support for favorites & read later
%br