.row
  .span12
    %br
    %br
.row
  .span12{style: "background-color: #EC0D0D;"}
    .span1
      %br
    .span3
      %br
      = image_tag "logo.png"
      %br
      %br
      .left= link_to image_tag("g.png"), "/auth/google_oauth2", class: "span3"
      
    .span2
      %br
    .span5.white.text-home
      %br
      %br
      %div{style: "border-left: 4px white solid; padding-left: 10px;"}
        %h3 Save your feeds
        %h3.thin Easily import your Google Reader subscriptions
      %br
      %br
      %div{style: "border-left: 4px white solid; padding-left: 10px;"}
        %h3 Clean, no frills 
        %h3.thin UI Get your content, no bullshit
      %br
      %br
      %div{style: "border-left: 4px white solid; padding-left: 10px;"}
        %h3 Manage your reading list
        %h3.thin Native support for favorites & read later
      %br
      %br
      %div{style: "border-left: 4px white solid; padding-left: 10px;"}
        %h3 Open Source 
        %h3.thin 
          Want a feature? 
          %u= link_to "Make it!", "https://github.com/pykih/red_feed", target: "_blank", class: "white"
      %br
      %br
.row
  .span12
    %br
    %br
    %br
    %br
    %h3.red 
      Introducing redFeed
      %sup beta
    .right Sunday, June 02, 2013
    %br
    %h4.thin
      Google Reader will shut down on July 1, 2013 leaving a feeling of emptiness every internet user will feel. Last year, Google killed the social component of Reader to encourage sharing Google+, killing a long-evolved community of reading friends overnight.
      %br
      %br
      We realise the need to build platforms which belong to the users who invest hours in making it work… platforms where users decide how long the it lasts and what components stay.
      %br
      %br
      Our first such effort was to build an open source reader, a replacement to Google Reader to begin with, which can then shape up to be your homepage, your newspaper, your search provider, your social hub… you decide!  
      %br
      %br
      With inspiration and weeks of work, we are ready to unveil the first public beta of redFeed, an open source feed reader. This is a working release which lets you import and save your Google Reader feeds into a familiar user interface so you never feel like you’ve left home!
      %br
      %br
      redFeed is constantly being updated, we will soon have the good old sharing functionality, a larger feature set and a much improved UI.
      %br
      %br
      We appreciate your feedback, please write to us at feedback@redFeed.com and we will listen.