/* Contact Sprites */

.shopify_sprites{
	background: asset-url('shopify.png', image) no-repeat top left;
}

.product{background-position:0 0; width: 17px; height: 17px; display: inline-block;}
.theme{background-position:0 -24px; width: 17px; height: 17px; display: inline-block;}
.shipping{background-position:0 -46px; width: 17px; height: 17px; display: inline-block;}
.domain{background-position:0 -71px; width: 17px; height: 17px; display: inline-block;}
.payment_gateway{background-position:0 -94px; width: 17px; height: 17px; display: inline-block;}
.taxes{background-position:0 -118px; width: 17px; height: 17px; display: inline-block;}
.content{background-position:0 -141px; width: 17px; height: 17px; display: inline-block;}

.product_w{background-position:-25px 0; width: 17px; height: 17px; display: inline-block;}
.theme_w{background-position:-25px -24px; width: 17px; height: 17px; display: inline-block;}
.shipping_w{background-position:-25px -46px; width: 17px; height: 17px; display: inline-block;}
.domain_w{background-position:-25px -71px; width: 17px; height: 17px; display: inline-block;}
.payment_gateway_w{background-position:-25px -94px; width: 17px; height: 17px; display: inline-block;}
.taxes_w{background-position:-25px -118px; width: 17px; height: 17px; display: inline-block;}
.content_w{background-position:-25px -141px; width: 17px; height: 17px; display: inline-block;}


.contact_sprites {
  background: asset-url('contacts.png', image) no-repeat top left;
}

.sprite-email{ background-position: 0 0; width: 17px; height: 17px; display: inline-block; }
.sprite-facebook{ background-position: 0 -37px; width: 17px; height: 17px; display: inline-block;}
.sprite-linkedin{ background-position: 0 -74px; width: 17px; height: 17px; display: inline-block; }
.sprite-mobile{ background-position: 0 -111px; width: 17px; height: 17px; display: inline-block;}
.sprite-phone1{ background-position: 0 -148px; width: 17px; height: 17px; display: inline-block;}
.sprite-phone2{ background-position: 0 -185px; width: 16px; height: 13px; display: inline-block;}
.sprite-skype{ background-position: 0 -218px; width: 17px; height: 17px; display: inline-block;}
.sprite-twitter{ background-position: 0 -255px; width: 17px; height: 17px; display: inline-block;}
.sprite-website{ background-position: 0 -292px; width: 17px; height: 17px; display: inline-block;}
.sprite-youtube{ background-position: 0 -329px; width: 17px; height: 17px; display: inline-block;}

.partner_sprites{
  background: asset-url('partner-logos.png', image) no-repeat top left;
}

.signup{background: asset-url('signup.png', image) no-repeat top left;}
.fb{ background-position: 0 0; width: 64px; height: 64px; } 
.gl{ background-position: 0 -74px; width: 64px; height: 64px; } 
.ln{ background-position: 0 -148px; width: 64px; height: 64px; } 
.tw{ background-position: 0 -222px; width: 64px; height: 64px; } 
.yo{ background-position: 0 -296px; width: 64px; height: 64px; } 

.sprite-caf{ background-position: 0 0; width: 100px; height: 38px; } 
.sprite-caf:hover{ background-position: 0 -48px; width: 100px; height: 38px; } 
.sprite-credall{ background-position: 0 -96px; width: 100px; height: 38px; } 
.sprite-credall_c{ background-position: 0 -144px; width: 100px; height: 38px; } 
.sprite-giveindia{ background-position: 0 -192px; width: 100px; height: 38px; } 
.sprite-giveindia:hover{ background-position: 0 -240px; width: 100px; height: 38px; } 
.sprite-globalg{ background-position: 0 -288px; width: 100px; height: 38px; } 
.sprite-globalg:hover{ background-position: 0 -336px; width: 100px; height: 38px; } 
.sprite-nsef:hover{ background-position: 0 -384px; width: 100px; height: 38px; } 
.sprite-nsef{ background-position: 0 -432px; width: 100px; height: 38px; } 
.sprite-trustlaw:hover{ background-position: 0 -480px; width: 100px; height: 38px; } 
.sprite-trustlaw{ background-position: 0 -528px; width: 100px; height: 38px; } 
.sprite-unltd:hover{ background-position: 0 -576px; width: 80px; height: 70px; } 
.sprite-unltd{ background-position: 0 -656px; width: 80px; height: 70px; } 
.sprite-uw{ background-position: 0 -736px; width: 100px; height: 38px; } 
.sprite-uw:hover{ background-position: 0 -784px; width: 100px; height: 38px; } 

.file16{background: asset-url('file-icons-16-px.png', image) no-repeat top left;}

.sprite-_blank{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-_page{ background-position: 0 -26px; width: 16px; height: 16px; } 
.sprite-aac{ background-position: 0 -52px; width: 16px; height: 16px; } 
.sprite-ai{ background-position: 0 -78px; width: 16px; height: 16px; } 
.sprite-aiff{ background-position: 0 -104px; width: 16px; height: 16px; } 
.sprite-avi{ background-position: 0 -130px; width: 16px; height: 16px; } 
.sprite-bmp{ background-position: 0 -156px; width: 16px; height: 16px; } 
.sprite-c{ background-position: 0 -182px; width: 16px; height: 16px; } 
.sprite-cpp{ background-position: 0 -208px; width: 16px; height: 16px; } 
.sprite-css{ background-position: 0 -234px; width: 16px; height: 16px; } 
.sprite-dat{ background-position: 0 -260px; width: 16px; height: 16px; } 
.sprite-dmg{ background-position: 0 -286px; width: 16px; height: 16px; } 
.sprite-doc{ background-position: 0 -312px; width: 16px; height: 16px; } 
.sprite-dotx{ background-position: 0 -338px; width: 16px; height: 16px; } 
.sprite-dwg{ background-position: 0 -364px; width: 16px; height: 16px; } 
.sprite-dxf{ background-position: 0 -390px; width: 16px; height: 16px; } 
.sprite-eps{ background-position: 0 -416px; width: 16px; height: 16px; } 
.sprite-exe{ background-position: 0 -442px; width: 16px; height: 16px; } 
.sprite-flv{ background-position: 0 -468px; width: 16px; height: 16px; } 
.sprite-gif{ background-position: 0 -494px; width: 16px; height: 16px; } 
.sprite-h{ background-position: 0 -520px; width: 16px; height: 16px; } 
.sprite-hpp{ background-position: 0 -546px; width: 16px; height: 16px; } 
.sprite-html{ background-position: 0 -572px; width: 16px; height: 16px; } 
.sprite-ics{ background-position: 0 -598px; width: 16px; height: 16px; } 
.sprite-iso{ background-position: 0 -624px; width: 16px; height: 16px; } 
.sprite-java{ background-position: 0 -650px; width: 16px; height: 16px; } 
.sprite-jpg{ background-position: 0 -676px; width: 16px; height: 16px; } 
.sprite-key{ background-position: 0 -702px; width: 16px; height: 16px; } 
.sprite-mid{ background-position: 0 -728px; width: 16px; height: 16px; } 
.sprite-mp3{ background-position: 0 -754px; width: 16px; height: 16px; } 
.sprite-mp4{ background-position: 0 -780px; width: 16px; height: 16px; } 
.sprite-mpg{ background-position: 0 -806px; width: 16px; height: 16px; } 
.sprite-odf{ background-position: 0 -832px; width: 16px; height: 16px; } 
.sprite-ods{ background-position: 0 -858px; width: 16px; height: 16px; } 
.sprite-odt{ background-position: 0 -884px; width: 16px; height: 16px; } 
.sprite-otp{ background-position: 0 -910px; width: 16px; height: 16px; } 
.sprite-ots{ background-position: 0 -936px; width: 16px; height: 16px; } 
.sprite-ott{ background-position: 0 -962px; width: 16px; height: 16px; } 
.sprite-pdf{ background-position: 0 -988px; width: 16px; height: 16px; } 
.sprite-php{ background-position: 0 -1014px; width: 16px; height: 16px; } 
.sprite-png{ background-position: 0 -1040px; width: 16px; height: 16px; } 
.sprite-ppt{ background-position: 0 -1066px; width: 16px; height: 16px; } 
.sprite-psd{ background-position: 0 -1092px; width: 16px; height: 16px; } 
.sprite-py{ background-position: 0 -1118px; width: 16px; height: 16px; } 
.sprite-qt{ background-position: 0 -1144px; width: 16px; height: 16px; } 
.sprite-rar{ background-position: 0 -1170px; width: 16px; height: 16px; } 
.sprite-rb{ background-position: 0 -1196px; width: 16px; height: 16px; } 
.sprite-rtf{ background-position: 0 -1222px; width: 16px; height: 16px; } 
.sprite-sql{ background-position: 0 -1248px; width: 16px; height: 16px; } 
.sprite-tga{ background-position: 0 -1274px; width: 16px; height: 16px; } 
.sprite-tgz{ background-position: 0 -1300px; width: 16px; height: 16px; } 
.sprite-tiff{ background-position: 0 -1326px; width: 16px; height: 16px; } 
.sprite-txt{ background-position: 0 -1352px; width: 16px; height: 16px; } 
.sprite-wav{ background-position: 0 -1378px; width: 16px; height: 16px; } 
.sprite-xls{ background-position: 0 -1404px; width: 16px; height: 16px; } 
.sprite-xlsx{ background-position: 0 -1430px; width: 16px; height: 16px; } 
.sprite-xml{ background-position: 0 -1456px; width: 16px; height: 16px; } 
.sprite-yml{ background-position: 0 -1482px; width: 16px; height: 16px; } 
.sprite-zip{ background-position: 0 -1508px; width: 16px; height: 16px; } 



.team_sprites{
  background: asset-url('team.png', image) no-repeat top left;
}

.sprite-gr{ background-position: 0 0; width: 114px; height: 92px; } 
.sprite-nb{ background-position: 0 -102px; width: 114px; height: 92px; } 
.sprite-pa{ background-position: 0 -204px; width: 115px; height: 93px; } 
.sprite-pk{ background-position: 0 -307px; width: 114px; height: 92px; } 
.sprite-rd{ background-position: 0 -409px; width: 115px; height: 93px; } 
.sprite-rp{ background-position: 0 -512px; width: 110px; height: 91px; } 
.sprite-sr{ background-position: 0 -613px; width: 115px; height: 93px; } 
.sprite-ts{ background-position: 0 -716px; width: 115px; height: 93px; } 
.sprite-vm{ background-position: 0 -819px; width: 112px; height: 91px; } 

/* Contact Sprites */
.s{background: asset-url('so.png', image) no-repeat top left;}

.sprite-aboutme{ background-position: 0 0; width: 16px; height: 16px; } 
.sprite-academiaedu{ background-position: -21px 0; width: 16px; height: 16px; } 
.sprite-amplify{ background-position: -42px 0; width: 16px; height: 16px; } 
.sprite-angellist{ background-position: -63px 0; width: 16px; height: 16px; } 
.sprite-aolchat{ background-position: -84px 0; width: 16px; height: 16px; } 
.sprite-bandcamp{ background-position: -105px 0; width: 16px; height: 16px; } 
.sprite-bebo{ background-position: -126px 0; width: 16px; height: 16px; } 
.sprite-behance{ background-position: -147px 0; width: 16px; height: 16px; } 
.sprite-bitbucket{ background-position: -168px 0; width: 16px; height: 16px; } 
.sprite-blipfm{ background-position: -189px 0; width: 16px; height: 16px; } 
.sprite-blippy{ background-position: -210px 0; width: 16px; height: 16px; } 
.sprite-blogger{ background-position: -231px 0; width: 16px; height: 16px; } 
.sprite-brightkite{ background-position: -252px 0; width: 16px; height: 16px; } 
.sprite-crunchbase{ background-position: -273px 0; width: 16px; height: 16px; } 
.sprite-dandyid{ background-position: -294px 0; width: 16px; height: 16px; } 
.sprite-delicious{ background-position: -315px 0; width: 16px; height: 16px; } 
.sprite-deviantart{ background-position: -336px 0; width: 16px; height: 16px; } 
.sprite-digg{ background-position: -357px 0; width: 16px; height: 16px; } 
.sprite-diigo{ background-position: -378px 0; width: 16px; height: 16px; } 
.sprite-disqus{ background-position: -399px 0; width: 16px; height: 16px; } 
.sprite-dopplr{ background-position: -420px 0; width: 16px; height: 16px; } 
.sprite-doyoubuzz{ background-position: -441px 0; width: 16px; height: 16px; } 
.sprite-dribble{ background-position: -462px 0; width: 16px; height: 16px; } 
.sprite-econsultancy{ background-position: -483px 0; width: 16px; height: 16px; } 
.sprite-facebook{ background-position: -504px 0; width: 16px; height: 16px; } 
.sprite-facebookchat{ background-position: -525px 0; width: 16px; height: 16px; } 
.sprite-flavorsme{ background-position: -546px 0; width: 16px; height: 16px; } 
.sprite-flickr{ background-position: -567px 0; width: 16px; height: 16px; } 
.sprite-formspring{ background-position: -588px 0; width: 16px; height: 16px; } 
.sprite-foursquare{ background-position: -609px 0; width: 16px; height: 16px; } 
.sprite-friendfeed{ background-position: -630px 0; width: 16px; height: 16px; } 
.sprite-friendster{ background-position: -651px 0; width: 16px; height: 16px; } 
.sprite-fullcontact{ background-position: -672px 0; width: 16px; height: 16px; } 
.sprite-gdgt{ background-position: -693px 0; width: 16px; height: 16px; } 
.sprite-getglue{ background-position: -714px 0; width: 16px; height: 16px; } 
.sprite-getsatisfaction{ background-position: -735px 0; width: 16px; height: 16px; } 
.sprite-gist{ background-position: -756px 0; width: 16px; height: 16px; } 
.sprite-github{ background-position: -777px 0; width: 16px; height: 16px; } 
.sprite-goodreads{ background-position: -798px 0; width: 16px; height: 16px; } 
.sprite-googleplus{ background-position: -819px 0; width: 16px; height: 16px; } 
.sprite-googleprofile{ background-position: -840px 0; width: 16px; height: 16px; } 
.sprite-googlereader{ background-position: -861px 0; width: 16px; height: 16px; } 
.sprite-gowalla{ background-position: -882px 0; width: 16px; height: 16px; } 
.sprite-gravatar{ background-position: -903px 0; width: 16px; height: 16px; } 
.sprite-gtalkchat{ background-position: -924px 0; width: 16px; height: 16px; } 
.sprite-hackernews{ background-position: -945px 0; width: 16px; height: 16px; } 
.sprite-hi5{ background-position: -966px 0; width: 16px; height: 16px; } 
.sprite-hiim{ background-position: -987px 0; width: 16px; height: 16px; } 
.sprite-hunch{ background-position: -1008px 0; width: 16px; height: 16px; } 
.sprite-hypemachine{ background-position: -1029px 0; width: 16px; height: 16px; } 
.sprite-hyves{ background-position: -1050px 0; width: 16px; height: 16px; } 
.sprite-icqchat{ background-position: -1071px 0; width: 16px; height: 16px; } 
.sprite-identica{ background-position: -1092px 0; width: 16px; height: 16px; } 
.sprite-imdb{ background-position: -1113px 0; width: 16px; height: 16px; } 
.sprite-intensedebate{ background-position: -1134px 0; width: 16px; height: 16px; } 
.sprite-ircchat{ background-position: -1155px 0; width: 16px; height: 16px; } 
.sprite-klout{ background-position: -1176px 0; width: 16px; height: 16px; } 
.sprite-lanyrd{ background-position: -1197px 0; width: 16px; height: 16px; } 
.sprite-lastfm{ background-position: -1218px 0; width: 16px; height: 16px; } 
.sprite-linkedin{ background-position: -1239px 0; width: 16px; height: 16px; } 
.sprite-livejournal{ background-position: -1260px 0; width: 16px; height: 16px; } 
.sprite-meadiciona{ background-position: -1281px 0; width: 16px; height: 16px; } 
.sprite-meetup{ background-position: -1302px 0; width: 16px; height: 16px; } 
.sprite-mixcloud{ background-position: -1323px 0; width: 16px; height: 16px; } 
.sprite-mixi{ background-position: -1344px 0; width: 16px; height: 16px; } 
.sprite-msnchat{ background-position: -1365px 0; width: 16px; height: 16px; } 
.sprite-multiply{ background-position: -1386px 0; width: 16px; height: 16px; } 
.sprite-myspace{ background-position: -1407px 0; width: 16px; height: 16px; } 
.sprite-ohloh{ background-position: -1428px 0; width: 16px; height: 16px; } 
.sprite-orkut{ background-position: -1449px 0; width: 16px; height: 16px; } 
.sprite-other{ background-position: -1470px 0; width: 16px; height: 16px; } 
.sprite-pandora{ background-position: -1491px 0; width: 16px; height: 16px; } 
.sprite-picasa{ background-position: -1512px 0; width: 16px; height: 16px; } 
.sprite-pinboard{ background-position: -1533px 0; width: 16px; height: 16px; } 
.sprite-pinterest{ background-position: -1554px 0; width: 16px; height: 16px; } 
.sprite-plancast{ background-position: -1575px 0; width: 16px; height: 16px; } 
.sprite-plaxo{ background-position: -1596px 0; width: 16px; height: 16px; } 
.sprite-plurk{ background-position: -1617px 0; width: 16px; height: 16px; } 
.sprite-posterous{ background-position: -1638px 0; width: 16px; height: 16px; } 
.sprite-qik{ background-position: -1659px 0; width: 16px; height: 16px; } 
.sprite-quora{ background-position: -1680px 0; width: 16px; height: 16px; } 
.sprite-reddit{ background-position: -1701px 0; width: 16px; height: 16px; } 
.sprite-renren{ background-position: -1722px 0; width: 16px; height: 16px; } 
.sprite-reverbnation{ background-position: -1743px 0; width: 16px; height: 16px; } 
.sprite-scribd{ background-position: -1764px 0; width: 16px; height: 16px; } 
.sprite-shelfari{ background-position: -1785px 0; width: 16px; height: 16px; } 
.sprite-skype{ background-position: -1806px 0; width: 16px; height: 16px; } 
.sprite-slideshare{ background-position: -1827px 0; width: 16px; height: 16px; } 
.sprite-smugmug{ background-position: -1848px 0; width: 16px; height: 16px; } 
.sprite-soundcloud{ background-position: -1869px 0; width: 16px; height: 16px; } 
.sprite-stackexchange{ background-position: -1890px 0; width: 16px; height: 16px; } 
.sprite-stackoverflow{ background-position: -1911px 0; width: 16px; height: 16px; } 
.sprite-steam{ background-position: -1932px 0; width: 16px; height: 16px; } 
.sprite-stumbleupon{ background-position: -1953px 0; width: 16px; height: 16px; } 
.sprite-tagged{ background-position: -1974px 0; width: 16px; height: 16px; } 
.sprite-tripit{ background-position: 0 -21px; width: 16px; height: 16px; } 
.sprite-tumblr{ background-position: -21px -21px; width: 16px; height: 16px; } 
.sprite-tungleme{ background-position: -42px -21px; width: 16px; height: 16px; } 
.sprite-twitter{ background-position: -63px -21px; width: 16px; height: 16px; } 
.sprite-typepad{ background-position: -84px -21px; width: 16px; height: 16px; } 
.sprite-vimeo{ background-position: -105px -21px; width: 16px; height: 16px; } 
.sprite-vk{ background-position: -126px -21px; width: 16px; height: 16px; } 
.sprite-wordpress{ background-position: -147px -21px; width: 16px; height: 16px; } 
.sprite-xing{ background-position: -168px -21px; width: 16px; height: 16px; } 
.sprite-yahoo{ background-position: -189px -21px; width: 16px; height: 16px; } 
.sprite-yahoochat{ background-position: -210px -21px; width: 16px; height: 16px; } 
.sprite-yelp{ background-position: -231px -21px; width: 16px; height: 16px; } 
.sprite-youtube{ background-position: -252px -21px; width: 16px; height: 16px; }