/* Card */
.id-card{-webkit-border-horizontal-spacing: 0px;-webkit-border-vertical-spacing: 0px;

.shadow{background-attachment: scroll;background-clip: border-box;background-color: rgba(0, 0, 0, 0);background-image: url(id_card-shadow.png);background-origin: padding-box;display: block;height: 129px;margin: 0px;padding: 0px 11px 16px 0px;width: 261px;}

.card{background-attachment: scroll;background-clip: border-box;background-color: rgba(0, 0, 0, 0);background-image: url(id_card.png);background-origin: padding-box;display: block;height: 129px;margin: 0px;padding: 0px;width: 261px;

.avatar{display: block; height: 47px; margin: 5px 0px 0px 0px; padding: 0px; width: 45px;}

.text{display: block;height: 71px;margin: 3px 0px 0px 15px;padding: 0px;width: 191px;font-size: 11px;line-height: 14px;}

p.name{border: rgb(51, 51, 51) none 0px;border-collapse: collapse;color: rgb(51, 51, 51);display: block;font-size: 12px;height: 12px;line-height: 12px;margin: 0px 0px 3px 0px;padding: 0px;width: 191px;}}}

.circle {-webkit-border-radius: 50em;-moz-border-radius: 50em;border-radius: 50em;}

/*http://webdesignerwall.com/tutorials/css3-image-styles*/
