Hi there,
%br
%br
Thank you for registering at Pykih Reader. 
%br
%br
To get started, please #{link_to 'verify your email ID', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)}.
%br
%br
= "--"
%br
Ritvvij Parrikh.
%br
Founder, Pykih Design Bureau - www.pykih.com