Dear friend,
%br
%br
Someone requested to change your password. 
%br
%br
If it wasn't you, please ignore this message.
%br
%br
If you have forgotten your password, 
#{link_to 'click here', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)} to reset it.
%br
%br
= "--"
%br
Ritvvij Parrikh.
%br
Founder, Pykih Design Bureau - www.pykih.com